<ul>
<% @advertise.each do |advertise| %>
  <li>
 	  <%= advertise.title %>
  <%= link_to 'Show', :controller => 'advertises', :action => 'show', :id => advertise %>
  <%= link_to 'Edit', :controller => 'advertises', :action => 'edit', :id => advertise %>
  
  </li>
<% end %>
</ul>
