<table class="table">
<tr>
<th>name</th>
<th>advertiser_id</th>
<th>email</th>
<th>phone</th>
<th>account</th>
<th>password</th>
<th>count</th>
</tr>
<% @advocate.each do |advocate| %>
<tr>

<td><%= advocate.name %></td>
<td><%= advocate.email %></td>

 <th><%= link_to 'Edit', edit_admin_advertiser_path(advocate) %></th>
 <th><%= button_to 'Delete', admin_advertiser_path(advocate), :method => :delete, :data => { :confirm => "Are you sure?" } %></th>
</tr>
<% end %>
</table>



 