<table class="table">
<tr>
<th>name</th>
<th>advertiser_id</th>
<th>email</th>
<th>phone</th>
<th>password</th>
<th>count</th>
</tr>

<td><%= @advertises.id %></td>
<td><%= @advertises.encrypted_password %></td>

</table>